<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="My Test Suite" parallel="classes" thread-count="5">
    <test name="My Test">
        <classes>
            <class name="com.selenium.testng.elite.webTest.loginPageTest.LoginTest"/>
            <class name="com.selenium.testng.elite.webTest.registerPageTest.RegisterTest01"/>
            <class name="com.selenium.testng.elite.webTest.registerPageTest.RegisterTest02"/>
            <class name="com.selenium.testng.elite.webTest.MyTest"/>
            <class name="com.selenium.testng.elite.webTest.homePageTest.HomeTest01"/>
            <class name="com.selenium.testng.elite.webTest.homePageTest.HomeTest02"/>
            <class name="com.selenium.testng.elite.webTest.fileUploadTest.FileUploadTest"/>
            <class name="com.selenium.testng.elite.webTest.fileDownloadTest.FileDownloadTest"/>
        </classes>
    </test>
</suite>